.Genre {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 100px;
    border: solid 1px black;
}

.cards .card:hover {
    transform: scale(1.1, 1.1);
}

.cards:hover > .card:not(:hover) {
    filter: blur(10px);
    transform: scale(0.9, 0.9);
}