.Genre {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 90px;
    border: solid 1px black;
    gap: 30px;
}

.Genre {
    padding: 10px 20px;
    border: none;
    color: #fff;
    border-radius: 7px;
    transition: 0.5s;
    transition-property: box-shadow;
}

.Genre{
    background: rgb(0,140,255);
    box-shadow: 0 0 25px rgb(0,140,255);
}

.Genre:hover {
    cursor: pointer;
    box-shadow: 0 0 5px rgb(89, 160, 244),
    0 0 25px rgb(89, 160, 244),
    0 0 45px rgb(89, 160, 244),
    0 0 90px rgb(89, 160, 244);
}